[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pip = "*"
marshmallow-sqlalchemy = "*"
flask-pytest = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
flasgger = "*"
marshmallow = "*"
apispec = "*"
pyjwt = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
